.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  backdrop-filter: blur(6px);
}

.modalContent {
  background-color: var(--modal-bg);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  max-width: 460px;
  color: var(--modal-text);
  animation: slideUp 0.3s ease;
  animation: fadeIn 0.3s ease;
  animation: fadeIn 0.3s ease-out;
  position: relative;
   scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* Firefox */
}

.modalContent::-webkit-scrollbar {
  width: 8px;
}

.modalContent::-webkit-scrollbar-track {
  background: transparent;
}

.modalContent::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  transition: background 0.3s ease;
}

.modalContent::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.modalHeader {
  font-size: 1.8rem;
  margin-bottom: 24px;
  text-align: center;
  color: var(--primary);
  font-weight: 600;
}

.modalCloseButton {
  position: absolute;
  top: 8px;       /* más pegado al borde interno */
  right: 12px;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #ccc;
  z-index: 10;
  cursor: pointer;
  transition: color 0.2s ease;
}

.modalCloseButton:hover {
  color: #ff4c4c;
}

.modalForm .formGroup {
  margin-bottom: 16px;
}

.modalForm label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 0.95rem;
  color: #bbb;
}

.modalForm input,
.modalForm select,
.modalForm textarea {
  width: 100%;
  padding: 10px 12px;
  background: #2e2e2e;
  border: 1px solid #444;
  color: #f1f1f1;
  border-radius: 8px;
  font-size: 0.95rem;
  transition: border-color 0.2s;
}

.modalForm textarea {
  resize: none;
  height: 120px;
}

.modalForm input:focus,
.modalForm select:focus,
.modalForm textarea:focus {
  outline: none;
  border-color: #00bcd4;
}

.modalForm button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: var(--primary);
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.modalForm button:hover {
  background: var(--primary)
}
